*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

}
.secTion{
    display: flex;
    align-items: center;
    justify-content: center ;
    min-height: 30vh;
}
.names{
    display: flex;
    align-items: center;
    justify-content: center center;
    text-align: center;
}

#todo ul{
    margin-left: 12px;
    border: 1px solid red;
}
.lis{
    list-style: none;

}
.btn{
    margin: auto;
    /* width: 90%; */
    text-align: center;
    margin-bottom: 10px;
    margin-left: 10px;
    /* background-color: white; */
    border-radius: 3px;
}
